{# src/AppBundle/Resources/views/addcontributor.html.twig #}

{% extends "@App/addlayout.html.twig" %}

{% block title %}
  {{ parent() }} 
{% endblock %}

{% block body %}
{% import "@App/forms/read_test.html.twig" as read_test  %}
{% include "@App/forms/security_shift.html.twig" %}
{{  read_test.form_read_mode(read_mode, form, {'attr': {'id': 'form_contributor'}}) }}

<div class="container">
<div class="row">
	<div class="col-sm-2">id</div>
	<div class="col-sm-1">
		{{ read_test.widget_read_mode(read_mode, form.idcontributor,  {'attr':{'class':'val_next_contrib' }}, Dcontributor.idcontributor ??"") }}
		{% if originaction == "add_beforecommit" %}
			{% include "@App/forms/get_next_id.html.twig" with {'table_name' : 'contributor', 'name_ctrl': 'bt_next_contributor', 'target_ctrl':'.val_next_contrib'}  %}
		{% endif %}
	</div>
	
</div>
<div class="row">	
	<div class="col-sm-2">name</div>
	<div class="col-sm-3">{{ read_test.widget_read_mode(read_mode, form.people, {'attr': {}}, Dcontributor.people ??"") }}</div>
	
	<div class="col-sm-2">title</div>
	<div class="col-sm-1">{{ read_test.widget_read_mode(read_mode, form.peopletitre, {'attr': {'class' : 'contribtitle'}}, Dcontributor.peopletitre ?? "") }}</div>
</div>
<div class="row">
	<div class="col-sm-2">function</div>
	<div class="col-sm-3">{{ read_test.widget_read_mode(read_mode, form.peoplefonction, {'attr': {'class' : 'contribfunction'}}, Dcontributor.peoplefonction ?? "") }}</div>
	
	<div class="col-sm-2">status</div>
	<div class="col-sm-3">{{ read_test.widget_read_mode(read_mode, form.peoplestatut, {'attr': {'class' : 'contribstatut'}}, Dcontributor.peoplestatut ?? "") }}</div>
</div>
<div class="row">
	<div class="col-sm-2">Institution</div>
	<div class="col-sm-3">{{ read_test.widget_read_mode(read_mode, form.institut, {'attr': {'class' : 'contribinstitution'}}, Dcontributor.institut ?? "") }}</div>	
</div>

{% include "@App/forms/form_buttons.html.twig" with {'id_form': '#form_contributor' , 'delete_route': 'app_delete_contributor' } %}		

{{ read_test.form_end_read_mode(read_mode,form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{% if read_mode == "write" or read_mode=="create" %}
    <script language='javascript'>
		$(document).ready(
			function()
			{
				console.log("loaded");
				
				$(".contribtitle").select2(select2_generic("{{ path('app_contribtitle_autocomplete')}}","peopletitre","peopletitre" ),0);
				$(".contribfunction").select2(select2_generic("{{ path('app_contribfunction_autocomplete')}}","peoplefonction","peoplefonction" ),0);
				$(".contribstatut").select2(select2_generic("{{ path('app_contribstatus_autocomplete')}}","peoplestatut","peoplestatut" ),0);
				$(".contribinstitution").select2(select2_generic("{{ path('app_contribinstitutions_autocomplete')}}","institut","institut" ),0);
				console.log("TEST");
				{% if Dcontributor is defined %}
					console.log("DEFINED");
					{% include "@App/foreignkeys/select2_jsdefault.html.twig" with { 'obj_prop' : Dcontributor.institut,'select2_ctrl': ".contribinstitution"} %}
					{% include "@App/foreignkeys/select2_jsdefault.html.twig" with { 'obj_prop' : Dcontributor.peoplestatut,'select2_ctrl': ".contribstatut"} %}
					{% include "@App/foreignkeys/select2_jsdefault.html.twig" with { 'obj_prop' : Dcontributor.peoplefonction,'select2_ctrl': ".contribfunction"} %}
					{% include "@App/foreignkeys/select2_jsdefault.html.twig" with { 'obj_prop' : Dcontributor.peopletitre,'select2_ctrl': ".contribtitle"} %}	
				{% endif %}
				
			}
		);
		{% endif %}
	</script>
{% endblock %}