{# src/AppBundle/Resources/views/documentform.html.twig #}

{{ form_start(form, {'attr': {'class': 'form-horizontal','id': 'document_form'}}) }}
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="main-tab" data-bs-toggle="tab" data-bs-target="#main" type="button" role="tab" aria-controls="main" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contributions-tab" data-bs-toggle="tab" data-bs-target="#contributions" type="button" role="tab" aria-controls="contributions" aria-selected="false">Contributions</button>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="main" role="tabpanel" aria-labelledby="main-tab"> {{ include("@App/documentform_mainpart.html.twig") }}</div>
  <div class="tab-pane" id="contributions" role="tabpanel" aria-labelledby="contribution-tab">
 {% include "@App/contributions/documentform_contributions.html.twig" with { 'collection_ref' : ddocument.idcollection, 'document_ref' :  ddocument.pk, 'action':action  } %}</div>
 </div>
<div><input type="hidden" name="current_tab" id="current_tab"/><input type="submit" class="btn btn-default pull-right submitbutton" />
				<div class="alert_message"></div>
{{ form_end(form) }}




<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">   
<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/core.js') }}"></script>

<script type="text/javascript">
	var sortDirection = "";
	var source_selected;
	var $medium;
	var current_tab="main-tab";
	

	$(document).ready(function() {
	
		//show message saying that data is in DB, during 4 sec. Msg comes from controller
		setTimeout(function() { 
			{% for msg in app.flashes('success') %}
			$(".alert_message").html("{{ msg }}");
			$(".alert_message").fadeOut(2000); 
			{% endfor %}
		},1000); 
		
		/*{% if lmedium is defined %}
			{% for lmedium_item in lmedium %}
				$medium="{{lmedium_item.medium}}";
			{% endfor %}	
		{% endif %}
		
		{% if lmediumlist is defined %}
			{% for lmediumlist_item in lmediumlist %}
				$("#inp_Medium").append(new Option("{{lmediumlist_item.medium}}", "{{lmediumlist_item.medium}}"));
				if ("{{lmediumlist_item.medium}}" == $medium){
					$valprec = "{{lmediumlist_item.medium}}";
				}
			{% endfor %}	
		{% endif %}
		$("#inp_Medium").val($valprec);*/
		
		
		{% if originaction is defined  %}
			{% if originaction == 'add_beforecommit' %}
				$(".submitbutton").prop('value', 'Create');
			{% endif %}
			{% if originaction != 'add_beforecommit' %}
				$(".inp_Idcollection").attr("disabled","disabled") 
				$(".inp_PointID").attr("disabled","disabled") 
			{% endif %}
			{% if (originaction == 'edit') or (originaction == 'add_aftercommit') %}
				$(".submitbutton").prop('value', 'Save');
			{% endif %}
			{% if originaction == 'add_aftercommit' %}
				alert('Data recorded in database!');
			{% endif %}
		{% endif %}
		
		var collval = "";
		onElementModified('body', '.inp_Idcollection', function(element){
			collval = $('.inp_Idcollection option:selected').val();
		});	
		var collSelect = $(".inp_Idcollection");
		
		var lastid = 0;
	
		//ajax to fill the lists------
		collval = $('.inp_Idcollection option:selected').val();
		
		function fill_lastid(collval){
			path = "{{path('app_last_Documentid', {'querygroup': 'art'}) }}";  
			path = path.replace('art',collval);
			lastid = 0;
			$.ajax({
				url:  path,
				type: "GET",
				dataType: "JSON",
				success: function (ids) {
					$.each(ids, function (key, id) {
						lastid = id.iddoc;
					});

					$(".inp_DocID").attr("data-toggle", "tooltip");
					$(".inp_DocID").attr("data-placement", "top");
					$(".inp_DocID").attr("title", "Last value is "+lastid);
				},
				error: function (err) {
					alert("An error ocurred while loading data ...");
				}
			});
		};
		fill_lastid(collval);
		
		//code if coll changed------	
		$('.inp_Idcollection').on('change', function() {
			collval = $('.inp_Idcollection option:selected').val();
			coderesults = [];
			fill_lastid(collval);
		});
		
		$("#get_idcollection").click(
			function()
			{
				if($(".inp_Idcollection").val().length>0)
				{
				 jQuery.getJSON("{{ path('app_get_next_id')}}",
					{'collection':$(".inp_Idcollection").val(),
					'table':'document'},
					function(result)
					{
						$('.inp_DocID').val(result.id);						
					}
				 );
				}
			}
		);
		
		
		$(".nav-link").click(
			function()
			{
				console.log($(this).attr("id"));
				current_tab=$(this).attr("id");
				$("#current_tab").val(current_tab);
			}
		);
		
		{% if current_tab is defined %}
			{% if current_tab!='main_tab' %}
				$("#{{ current_tab }}").click();			
			{% endif %}
		{% endif %}
						
    });	
</script>