{# src/AppBundle/Resources/views/searchsatellite_raw.html.twig #}
{% use "@App/forms/standalonejs.html.twig" %}
{% block body %}
<div class="container">
<br/>
<br/>
<br/>
<div class="row">
	
		<div class="col-sm-1">Collection</div>
		<div class="col-sm-2"><select name="collections" id="collections" style="width:100%" multiple="multiple" ></select></div>
		<div class="col-sm-1">Id document</div>
		<div class="col-sm-2"><select name="idobject" id="idobject" style="width:100%" multiple="multiple" ></select></div>	
		<div class="col-sm-1">Satellite number</div>
		<div class="col-sm-2"><select name="satnum" id="satnum" style="width:100%"multiple="multiple" ></select></div>	
</div>
<div class="row">
	
		<div class="col-sm-1">Type satellite</div>
		<div class="col-sm-2"><select name="sattype" id="sattype" style="width:100%" multiple="multiple" ></select></div>
		
		<div class="col-sm-1">Sensor</div>
		<div class="col-sm-2"><select name="sensor" id="sensor" style="width:100%" multiple="multiple" ></select></div>
		<div class="col-sm-1">Mode radar</div>
		<div class="col-sm-2"><select name="moderadar" id="moderadar" style="width:100%" multiple="multiple" ></select></div>
		<div class="col-sm-1">Type orbit</div>
		<div class="col-sm-2"><select name="orbit" id="orbit" style="width:100%" multiple="multiple" ></select></div>		
</div>

<div class="row">
	
		
		<div class="col-sm-1">Path track</div>
		<div class="col-sm-2"><select name="pathtrack" id="pathtrack" style="width:100%" multiple="multiple" ></select></div>
		<div class="col-sm-1">Row frame</div>
		<div class="col-sm-2"><select name="rowframe" id="rowframe" style="width:100%" multiple="multiple" ></select></div>	
		<div class="col-sm-1">Date from</div>
		<div class="col-sm-2"><input type="text" name="date_from" id="date_from"  style="width:100%" ></input></div>
		<div class="col-sm-1">Date to</div>
		<div class="col-sm-2"><input type="text" name="date_to" id="date_to"  style="width:100%" ></input></div>			
</div>
<div class="row">
     <div class="col-sm-2"></div>
    <div class="col-sm-2"><input type="button" value="search" id="go_search"/></div>
</div>
<div id="div_results" class="row"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script language='javascript'>
	var search=function(current_page, page_size)
		{
			search_logic(current_page, page_size,false)
					
		}
		
		 var search_logic=function(current_page, page_size, csv)
		{
			criterias={}
			criterias["current_page"]=current_page;
			criterias["page_size"]=page_size;
			criterias["collections"]=$("#collections").val();
			criterias["idobject"]=$("#idobject").val();
			criterias["satnum"]=$("#satnum").val();
			criterias["sattype"]=$("#sattype").val();
			criterias["moderadar"]=$("#moderadar").val();			
			criterias["orbit"]=$("#orbit").val();
			criterias["pathtrack"]=$("#pathtrack").val();			
			criterias["rowframe"]=$("#rowframe").val();
			criterias["date_from"]=$("#date_from").val();
			criterias["date_to"]=$("#date_to").val();
			
			$.post("{{ path('search_satellite')}}", criterias,
				function(data)
				{
					$("#div_results").html(data);
				}
			);
		}
		
	$(document).ready(
            function()
            {
				$("#collections").select2(select2_generic("{{ path('search_all_collections')}}","idcollection","idcollection" ),0);
				$("#idobject").select2(select2_pattern_only(2));
				
				$("#satnum").select2(select2_pattern_only(2));
				
				$("#sattype").select2(select2_generic("{{ path('app_sattype_autocomplete')}}","sattype","sattype" ),0);
				
				$("#orbit").select2(select2_generic("{{ path('app_satorbit_autocomplete')}}","orbit","orbit" ),0);
				
				$("#sensor").select2(select2_generic("{{ path('app_satsensor_autocomplete')}}","sensor","sensor" ),0);
				
				$("#moderadar").select2(select2_generic("{{ path('app_satmoderadar_autocomplete')}}","moderadar","moderadar" ),0);
				
				
				$("#pathtrack").select2(select2_pattern_only(2));
				
				$("#rowframe").select2(select2_generic("{{ path('app_satrowframe_autocomplete')}}","rowframe","rowframe" ),0);
				
				$("#date_from").datepicker(
					{format: 'yyyy-m-d'}					
					);
				$("#date_to").datepicker(
					{format: 'yyyy-m-d'});
				
				$("#go_search").click(
						function()
						{
							search(1, $("#page_size").val());
						});
				
			});
	</script>
{% endblock %}