{% import "@App/forms/read_test.html.twig" as read_test  %}
{{ read_mode }}
<div>
<table class="ui-front table_edit">
		<tr>
			<TH class="title_table_edit" width="100%" colspan = "8">
				Documents
			</TH>
		</tr>

		<tr>
			<th width = "8%"  style="text-align:right">
				Collection:
			</th>
			<td width = "8%">
				{% if ddocument.pk != "" %}
					{{ddocument.idcollection}}
				{% else %}
					{{ read_test.widget_read_mode(read_mode, form.idcollection,  {'attr':{'class': 'form-control inp_Idcollection'}},ddocument.idcollection ) }}
					
				{% endif %}
			</td>
			<th width = "8%" style="text-align:right">
				ID :
			</th>
			<td  width = "8%">
				{% if ddocument.pk != "" %}
					{{ddocument.iddoc}}
				{% else %}
					{{ read_test.widget_read_mode(read_mode, form.iddoc, {'attr': {'class': 'form-control inp_DocID vshortlength', 'style': 'width: 200px'}}, form.iddoc ?? "") }}
					{{ form_errors(form.iddoc) }}
					<input type='button' id="get_idcollection" value="Get next ID"></input>
				{% endif %}
			</td>
			<th width = "8%" style="text-align:right">
				Archive mumber:
			</th>
			<td  width = "8%">
				{{ read_test.widget_read_mode(read_mode, form.numarchive, {'attr': {'class': 'form-control inp_Numarchive'}}, ddocument.numarchive ??"" ) }}
			</td>
			<th width = "8%" style="text-align:right">
				Central mumber:
			</th>
			<td  width = "45%">
				{{ read_test.widget_read_mode(read_mode,form.centralnum, {'attr': {'class': 'form-control inp_Centralnum'}}, ddocument.centralnum ?? "" )}}
			</td>
		</tr>

		<tr>
			<th style="text-align:right">
				Filename:
			</th>
			<td >
				{{ read_test.widget_read_mode(read_mode,form.filename, {'attr': {'class': 'form-control inp_Filename'}}, ddocument.filename ?? "") }}
			</td>
			<th style="text-align:right">
				Caption:
			</th>
			<td >
				{{ read_test.widget_read_mode(read_mode,form.caption, {'attr': {'class': 'form-control inp_Caption'}}, ddocument.caption ?? "") }}
			</td>
			<th style="text-align:right">
				Medium:
			</th>
			<td  colspan = "3">
				{{ read_test.widget_read_mode(read_mode,form.medium, {'attr': {'class': 'form-control'}}, ddocument.medium.Medium ??"" ) }}
			</td>
		</tr>

		<tr>
			<th style="text-align:right">
				Location:
			</th>
			<td >
				{{ read_test.widget_read_mode(read_mode,form.location, {'attr': {'class': 'form-control inp_Location'}}, ddocument.location??"") }}
			</td>
			<th style="text-align:right">
				Numerical location:
			</th>
			<td  colspan = "5">
				{{ read_test.widget_read_mode(read_mode,form.numericallocation, {'attr': {'class': 'form-control inp_Numericallocation'}}, ddocument.numericallocation ?? "") }}
			</td>
		</tr>

		<tr>
			<th style="text-align:right">
				Document information:
			</th>
			<td  colspan = "4">
				{{ read_test.widget_read_mode(read_mode,form.docinfo, {'attr': {'class': 'form-control inp_Docinfo'}}, ddocument.docinfo ?? "" ) }}
			</td>
			<td  colspan = "3">
				
			</td>
		</tr>
		<tr>
			<th style="text-align:right">
				Edition:
			</th>
			<td >
				{{ read_test.widget_read_mode(read_mode,form.edition, {'attr': {'class': 'form-control inp_Edition'}}, ddocument.edition ?? "") }}
			</td>
			<th style="text-align:right">
				Publication place:
			</th>
			<td >
				{{ read_test.widget_read_mode(read_mode,form.pubplace, {'attr': {'class': 'form-control inp_Pubplace'}},ddocument.pubplace ?? "") }}
			</td>
			<th style="text-align:right">
				Document type:
			</th>
			<td  colspan = "3">
				{{ read_test.widget_read_mode(read_mode,form.doccartotype, {'attr': {'class': 'form-control inp_Doccartotype'}},ddocument.doccartotype ?? "") }}
			</td>
		</tr>
		
	  
		<tr>
			<TD> .</TD>
		</tr>
		<TR>
			<TD>
			</BR></div>
			</TD>
		</TR>
	</table>
</div>