{# src/AppBundle/Resources/views/documents/documentform.html.twig #}
{% import "@App/forms/read_test.html.twig" as read_test  %}

{% include "@App/forms/security_shift.html.twig" %}

{{ read_test.form_read_mode(read_mode, form, {'attr': {'class': 'form-horizontal','id': 'document_form'}}) }}
<!-- Nav tabs -->
{% set current_tab=current_tab|default("main-tab") %}
<h2>Document page</h2>
{% if read_mode!="create" %}
<h3>{{ddocument.idcollection??""}} {{ddocument.iddoc??""}} {{ddocument.numarchive??""}}</h3>
{% endif %}
<ul class="nav nav-tabs" id="myTab" role="tablist">  
  {{ read_test.enable_bootstrap_tab("main-tab", current_tab,"#main", "main", "Home", "shift_mode") }}
  {{ read_test.enable_bootstrap_tab("contributions-tab", current_tab,"#contributions", "contributions", "Contributions") }}
  {{ read_test.enable_bootstrap_tab("location-tab", current_tab,"#location", "locations", "Geographical locations") }}
  {{ read_test.enable_bootstrap_tab("keywords-tab", current_tab,"#keywords", "keywords", "Keywords and title") }}
  {{ read_test.enable_bootstrap_tab("satellite-tab", current_tab,"#satellites", "satellites", "Satellite images") }}
  {{ read_test.enable_bootstrap_tab("scale-tab", current_tab,"#scale", "scale", "Scales") }}
  {{ read_test.enable_bootstrap_tab("film-tab", current_tab,"#film", "film", "Films") }}
  {{ read_test.enable_bootstrap_tab("map-tab", current_tab,"#map", "map", "Maps") }}
  {{ read_test.enable_bootstrap_tab("archive-tab", current_tab,"#archive", "archive", "Archives") }}
  {{ read_test.enable_bootstrap_tab("flightplan-tab", current_tab,"#flightplan", "flightplan", "Flight plans") }}
  {% if read_mode!="create" %}
	{{ read_test.enable_bootstrap_tab("log-tab", current_tab,"#log", "log", "Logs") }}
  {% endif %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {{ read_test.activate_boostrap_tab("main", current_tab, "main-tab") }}
   {{ include("@App/documents/documentform_mainpart.html.twig") }}
  {{ read_test.end_activate_boostrap_tab() }}
 {{ read_test.activate_boostrap_tab("contributions", current_tab, "contributions-tab") }}
  {% include "@App/documents/documentform_contributions.html.twig" with { 'collection_ref' : ddocument.idcollection, 'document_ref' :  ddocument.pk, 'action':action  } %}
 {{ read_test.end_activate_boostrap_tab() }}
 {{ read_test.activate_boostrap_tab("location", current_tab, "location-tab") }}
  {% include "@App/documents/documentform_dloccenter.html.twig" with { 'collection_ref' : ddocument.idcollection, 'document_ref' :  ddocument.pk, 'action':action  } %}
 {{ read_test.end_activate_boostrap_tab() }}
  {{ read_test.activate_boostrap_tab("keywords", current_tab, "keywords-tab") }}
 keys
  {% include "@App/documents/documentform_keywords.html.twig"  %}
  {{ read_test.end_activate_boostrap_tab() }}
 {{ read_test.activate_boostrap_tab("satellites", current_tab, "satellite-tab") }}
 sat
  {% include "@App/documents/documentform_satellite.html.twig"  %}
 {{ read_test.end_activate_boostrap_tab() }}
 {{ read_test.activate_boostrap_tab("scale", current_tab, "scale-tab") }}
 scale
	{% include "@App/documents/documentform_scale.html.twig"  %}
 {{ read_test.end_activate_boostrap_tab() }}
 {{ read_test.activate_boostrap_tab("film", current_tab, "film-tab") }}
 film
	{% include "@App/documents/documentform_film.html.twig"  %}
 {{ read_test.end_activate_boostrap_tab() }}
  {{ read_test.activate_boostrap_tab("map", current_tab, "map-tab") }}
  map
	{% include "@App/documents/documentform_map.html.twig"  %}
 {{ read_test.end_activate_boostrap_tab() }}
   {{ read_test.activate_boostrap_tab("archive", current_tab, "archive-tab") }}
  archive
	{% include "@App/documents/documentform_archive.html.twig"  %}
 {{ read_test.end_activate_boostrap_tab() }}
 {{ read_test.activate_boostrap_tab("flightplan", current_tab, "flightplan-tab") }}
  flight plan
	{% include "@App/documents/documentform_flightplan.html.twig"  %}
 {{ read_test.end_activate_boostrap_tab() }}
  {% if read_mode!="create" %}
 {{ read_test.activate_boostrap_tab("log", current_tab, "log-tab") }}
	{% include "@App/forms/logs.html.twig" with {'logs' : logs} %}
 {{ read_test.end_activate_boostrap_tab() }}
 {% endif %}
 </div>
<div><input type="hidden" name="current_tab" id="current_tab"/>
{{ read_test.submit_button_log(read_mode) }}
{{ read_test.submit_read_mode(read_mode, "btn btn-default pull-right submitbutton" ) }}
<div class="alert_message"></div>
</div>
{{ read_test.form_end_read_mode(read_mode, form) }}




<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">   
<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script src="{{ asset('js/core.js') }}"></script>

<script type="text/javascript">
	var sortDirection = "";
	var source_selected;
	var $medium;
   
	
	

	$(document).ready(function() {
	
		//show message saying that data is in DB, during 4 sec. Msg comes from controller
		setTimeout(function() { 
			{% for msg in app.flashes('success') %}
			$(".alert_message").html("{{ msg }}");
			$(".alert_message").fadeOut(2000); 
			{% endfor %}
		},1000); 
		
		/*{% if lmedium is defined %}
			{% for lmedium_item in lmedium %}
				$medium="{{lmedium_item.medium}}";
			{% endfor %}	
		{% endif %}
		
		{% if lmediumlist is defined %}
			{% for lmediumlist_item in lmediumlist %}
				$("#inp_Medium").append(new Option("{{lmediumlist_item.medium}}", "{{lmediumlist_item.medium}}"));
				if ("{{lmediumlist_item.medium}}" == $medium){
					$valprec = "{{lmediumlist_item.medium}}";
				}
			{% endfor %}	
		{% endif %}
		$("#inp_Medium").val($valprec);*/
		
		
		{% if originaction is defined  %}
			{% if originaction == 'add_beforecommit' %}
				$(".submitbutton").prop('value', 'Create');
			{% endif %}
			{% if originaction != 'add_beforecommit' %}
				$(".inp_Idcollection").attr("disabled","disabled") 
				$(".inp_PointID").attr("disabled","disabled") 
			{% endif %}
			{% if (originaction == 'edit') or (originaction == 'add_aftercommit') %}
				$(".submitbutton").prop('value', 'Save');
			{% endif %}
			{% if originaction == 'add_aftercommit' %}
				alert('Data recorded in database!');
			{% endif %}
		{% endif %}
		
		var collval = "";
		onElementModified('body', '.inp_Idcollection', function(element){
			collval = $('.inp_Idcollection option:selected').val();
		});	
		var collSelect = $(".inp_Idcollection");
		
		var lastid = 0;
	
		//ajax to fill the lists------
		collval = $('.inp_Idcollection option:selected').val();
		
		function fill_lastid(collval){
			path = "{{path('app_last_Documentid', {'querygroup': 'art'}) }}";  
			path = path.replace('art',collval);
			lastid = 0;
			$.ajax({
				url:  path,
				type: "GET",
				dataType: "JSON",
				success: function (ids) {
					$.each(ids, function (key, id) {
						lastid = id.iddoc;
					});

					$(".inp_DocID").attr("data-toggle", "tooltip");
					$(".inp_DocID").attr("data-placement", "top");
					$(".inp_DocID").attr("title", "Last value is "+lastid);
				},
				error: function (err) {
					alert("An error ocurred while loading data ...");
				}
			});
		};
		fill_lastid(collval);
		
		//code if coll changed------	
		$('.inp_Idcollection').on('change', function() {
			collval = $('.inp_Idcollection option:selected').val();
			coderesults = [];
			fill_lastid(collval);
		});
		
		$("#get_idcollection").click(
			function()
			{
				if($(".inp_Idcollection").val().length>0)
				{
				 jQuery.getJSON("{{ path('app_get_next_id')}}",
					{'collection':$(".inp_Idcollection").val(),
					'table':'document'},
					function(result)
					{
						$('.inp_DocID').val(result.id);						
					}
				 );
				}
			}
		);
		
		current_tab="{{ current_tab }}";
		//alert(current_tab);
		init_tab_url(".mode_shift", current_tab);
						
    });	
</script>