{# src/AppBundle/Resources/views/contributions/contribution_form_raw.html.twig #}
{% extends "@App/searchlayout.html.twig" %}

{% block body %}
{% import "@App/forms/read_test.html.twig" as read_test  %}
{% set read_mode=read_mode|default("read") %}
{% include "@App/forms/security_shift.html.twig" %}

{{ read_test.form_read_mode(read_mode,form, {'attr': {'class': 'form-horizontal','id': 'contribution_form'}}) }}
{{ form_row(form._token) }}
{% set current_tab=current_tab|default("main-tab") %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
	{{ read_test.enable_bootstrap_tab("main-tab", current_tab,"#main", "main", "Home", "shift_mode") }}
	{{ read_test.enable_bootstrap_tab("contributor-tab", current_tab,"#contributor", "contributor", "Contributors", "shift_mode") }}
  	{{ read_test.enable_bootstrap_tab("document-tab", current_tab,"#document", "document", "To document", "shift_mode") }}
	{% if read_mode!="create"%}
	{{ read_test.enable_bootstrap_tab("log-tab", current_tab,"#log", "log", "Logs") }}	
	{% endif %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {{ read_test.activate_boostrap_tab("main", current_tab, "main-tab") }}
		{% include "@App/contributions/contributionform_raw.html.twig"  %} 
  {{ read_test.end_activate_boostrap_tab() }}
 
   {{ read_test.activate_boostrap_tab("contributor", current_tab, "contributor-tab") }}

		{% if originaction =="add_beforecommit" %}
			Please save the main part of the contribution first
		 {% else %}
			{% include "@App/contributions/contribution_to_contributor.html.twig"  %}
		 {% endif %}
	{{ read_test.end_activate_boostrap_tab() }}

  {{ read_test.activate_boostrap_tab("document", current_tab, "document-tab") }}
		 {% if originaction =="add_beforecommit" %}
			Please save the main part of the contribution first
		 {% else %}
			{% include "@App/contributions/contribution_to_doc.html.twig"  %}
		 {% endif %}
	{{ read_test.end_activate_boostrap_tab() }}
	{% if read_mode!="create"%}
	{{ read_test.activate_boostrap_tab("log", current_tab, "log-tab") }}
		{% include "@App/forms/logs.html.twig" with {'logs' : logs} %}
	{{ read_test.end_activate_boostrap_tab() }}
	{% endif %}
 </div>


 </div>
 {{ read_test.submit_button_log(read_mode) }}
{% include "@App/forms/form_buttons.html.twig" with {'id_form': '#contribution_form' , 'delete_route': 'app_delete_contribution' } %}
{{ read_test.form_end_read_mode(read_mode,form) }}
<script language="javascript">

	$(document).ready(
		function()
		{
				current_tab="{{ current_tab }}";
			//alert(current_tab);
			console.log(current_tab);
			init_tab_url(".mode_shift", current_tab);
		}
		);

</script>
{% endblock %}

{% block javascript %}

{% endblock %}

