{% set default_val=default_val|default(null) %}
{% import "@App/forms/read_test.html.twig" as read_test  %}
{% set read_mode=read_mode|default("read") %}

<div class="row">
{{ read_test.input_read_mode(read_mode, "text", ctrl_prefix ~"_pk_"~ index, ctrl_prefix ~"_pk_"~ index,default_val.pk ?? "","readonly_class") }}
</div>
<div class="row">
{{ read_test.input_read_mode(read_mode, "text", ctrl_prefix ~"_id_contrib_"~ index, ctrl_prefix ~"_id_contrib_"~ index,default_val.dcontributor.pk ?? "","readonly_class") }}
</div>
<div class="row">
<div class="col-sm-1">Name</div>
<div class="col-sm-2"> 
{{ read_test.input_read_mode(read_mode, "textarea",  ctrl_prefix ~"_name_contrib_"~ index , ctrl_prefix ~"_name_contrib_"~ index, (default_val.dcontributor.people??"")  ~" " ~ (default_val.dcontributor.institut??"") | trim , "readonly_class")  }}
</div>
<div class="col-sm-1">Role</div>
<div class="col-sm-2"> 
{{ read_test.select2_read_mode(read_mode, ctrl_prefix ~"_role_contrib_" ~ index, ctrl_prefix ~"_role_contrib_" ~ index, path('app_contribrole_autocomplete'),"contributorrole", default_val.contributorrole??"","select2","width:100%"  ) }}
</div>
<div class="col-sm-1">order</div>
<div class="col-sm-2">

{{ read_test.input_read_mode(read_mode, "text",  ctrl_prefix ~"_order_contrib_"~ index , ctrl_prefix ~"_order_contrib_"~ index, index , "order_contributor", "width:100%")  }}
<script type="text/javascript">
$(document).ready(
	function()
	{
		 $('.readonly_class').attr('readonly', true);
		
		
	});
	
</script>

{% include "@App/foreignkeys/template_modal_search.html.twig" with {'nested_template' : "@App/searchcontributor_raw.html.twig", "is_modal":true, "id_target": "#" ~ ctrl_prefix ~  "_id_contrib_" ~index , "value_target": "#" ~  ctrl_prefix ~  "_name_contrib_" ~ index , "index":index, "ctrl_suffix": "contrib_to_person", "read_mode": read_mode }%}