{# src/AppBundle/Resources/views/dloccenter/detail_point_to_stratum.html.twig #}
{% import "@App/forms/read_test.html.twig" as read_test  %}
{% set read_mode=read_mode|default("read") %}
{% set default_val = default_val|default(null) %}
{% set search_form = search_form|default(null) %}
{% include "@App/forms/standalonejs.html.twig" %}


<div class="row">			
		<div class="col-sm-1">{{ index }} PK</div>
		
		<div class="col-sm-2">{{ read_test.input_read_mode(read_mode, "text", ctrl_prefix ~"_pk_"~ index, ctrl_prefix ~"_pk["~ index ~ "]",default_val.pk ?? "","readonly_class", "width:100%") }}</div>
		
		
		<input type="hidden" name="{{ ctrl_prefix }}_idcollection[{{index}}]" id="{{ ctrl_prefix }}_idcollection_{{ index }}"  ></input>
		
		<input type="hidden" name="{{ ctrl_prefix }}_idpt[{{index}}]" id="{{ ctrl_prefix }}_idpt_{{ index }}" ></input>
</div>
<div class="row">	
	<div class="col-sm-1">Order stratum</div>
		
	<div class="col-sm-2">
	{{ read_test.input_read_mode(read_mode, "number", ctrl_prefix ~"_orderstratum_"~ index, ctrl_prefix ~"_orderstratum["~ index~"]",default_val.idstratum ?? "","", "width:100%", 1) }}</div>
	<div class="col-sm-1">Alternance</div>
	<div class="col-sm-2">
	{{ read_test.input_read_mode(read_mode, "checkbox", ctrl_prefix ~"_alternance_"~ index, ctrl_prefix ~"_alternance["~ index ~"]", default_val.alternance ?? "") }}
	</div>	
</div>
<div class="row">	
 
	<div class="col-sm-1">Stratum</div>

	<div class="col-sm-2">{{ read_test.select2_read_mode(read_mode, ctrl_prefix ~"_lithostratum_" ~ index, ctrl_prefix ~"_lithostratum[" ~ index ~"]", path('app_lithostratum_autocomplete'),"lithostratum", default_val.lithostratum??"","select2","width:100%"  ) }}</div>
	
	<div class="col-sm-1">Top stratum</div>
	<div class="col-sm-2">{{ read_test.input_read_mode(read_mode, "number", ctrl_prefix ~"_topstratum_"~ index, ctrl_prefix ~"_topstratum["~ index ~"]",default_val.topstratum ?? "","", "width:100%", 0.01) }}</div>
	
	<div class="col-sm-1">Bottom stratum</div>
	<div class="col-sm-2">{{ read_test.input_read_mode(read_mode, "number", ctrl_prefix ~"_bottomstratum_"~ index, ctrl_prefix ~"_bottomstratum["~ index ~"]",default_val.bottomstratum ?? "","", "width:100%", 0.01) }}</div>
</div>
<div class="row">
	<div class="col-sm-2">Description :</div>
	<div class="col-sm-8">{{ read_test.input_read_mode(read_mode, "textarea",
	ctrl_prefix ~"_descriptionstratum_"~ index, ctrl_prefix ~"_descriptionstratum["~ index ~"]",default_val.descriptionstratum ?? "","", "width:100%") }}
	</div>
</div>
{% if read_mode=="read"  %}
{% if default_val.dlinklocsam|default(null) is not null and default_val.dlinklocsam is defined %}

<div class="row">
<div class="col-sm-2">Samples :</div>
<div class="col-sm-8">
	{% set i=1 %}
	{% for sample in default_val.dlinklocsam %}
		{% if sample.dsample|default(null) is not null and sample.dsample is defined %}
		<a target="blank" href="{{ path('app_edit_samplegs', {'pk':sample.dsample.pk})}}" >Sample {{ i }}<a>
		<ul>
			<li>Collection sample : {{sample.dsample.idcollection??" not defined " }}</li>
			<li>ID sample : {{sample.dsample.idsample??" not defined " }}</li>
			<li>Field number : {{sample.dsample.fieldnum??" not defined " }}</li>
			<li>Museum number : {{sample.dsample.museumnum??" not defined " }}</li>
			<li>Holotype  : {{sample.dsample.holotype  ? 'Yes' : 'No'   }}</li>
			<li>Paratype  : {{sample.dsample.paratype  ? 'Yes' : 'No'  }}</li>
		</ul>
		
		<br>
		{% set i=i+1 %}
		{% endif %}
	{% endfor %}
	
</div>
</div>
{% endif %}
{% endif %}
<div class="row">
	<div class="col-sm-12">
	{% include "@App/foreignkeys/template_subforms_noajax.html.twig" with {'nested_template':"@App/dloccenter/detail_point_to_stratum_description.html.twig" , 'ctrl_prefix' : 'point_to_stratum_description_' ~ index , 'ajax_route': path('get_widget_point_to_stratum_description', {'table':"dloccenter"}), 'fk_values': default_val.dlocstratumdesc|default(null),
'delete_route':'app_delete_stratum_description',
'fk_key_field':'pk'
 }  %}
	</div>
</div>

<script type="text/javascript">
$(document).ready(
	function()
	{
		//attention dangereux pour l'insertion d orderstratum
		$('.readonly_class').attr('readonly', true);		
		{% if not default_val is null %}
			{% if read_mode !="read "%}
				{% if default_val.alternance %}
					$("#{{ ctrl_prefix }}_alternance_{{ index }}").prop("checked",true);
				{% endif %}
			{% endif %}
		{% endif %}
	});
</script>