{# src/AppBundle/Resources/views/dloccenter/pointform.html.twig #}
{% import "@App/forms/read_test.html.twig" as read_test  %}
{% set read_mode=read_mode|default("read") %}
{% include "@App/forms/security_shift.html.twig" %}
{% set current_tab=current_tab|default("main-tab") %}

{% if read_mode!="create" %}
<h2>{{ dloccenter.idcollection??""}} {{ dloccenter.idpt??""}}</h2>
{% endif %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    {{ read_test.enable_bootstrap_tab("main-tab", current_tab,"#main", "main", "Home", "shift_mode") }}
    {{ read_test.enable_bootstrap_tab("stratum-tab", current_tab,"#stratum", "stratum", "Stratum", "shift_mode") }}
	{% if read_mode!="create" %}
	{{ read_test.enable_bootstrap_tab("log-tab", current_tab,"#log", "log", "Logs") }}	
	{% endif %}
</ul>

{{ read_test.form_read_mode(read_mode, point_form, {'attr': {'class': 'form-horizontal','id': 'point_form'}}) }}
{% set form =point_form %}
<div class="tab-content">
{% include "@App/validation_errors.html.twig" with {'local_form' : point_form}  %}

  {{ read_test.activate_boostrap_tab("main", current_tab, "main-tab") }}
	<table class="ui-front table_edit">
		<TR>
			<TH class="title_table_edit" width="100%" colspan = "6">
				Location points
			</TH>
		</TR>

		<TR>
			<TD>
				<Table width="100%">
					<TR>
						<th width = "12%"  style="text-align:right">
							Collection:
						</th>
						<td width = "12%">
							
								{{ read_test.widget_read_mode(read_mode,point_form.idcollection, {'attr': {'class': 'form-control inp_Idcollection'}},dloccenter.idcollection??"" ) }}
							
						</td>
						<th width = "12%" style="text-align:right">
							ID :
						</th>
						<td  width = "12%">
							
								{{ read_test.widget_read_mode(read_mode,point_form.idpt, {'attr': {'class': 'form-control inp_PointID'}},dloccenter.idpt ??"") }}
								{{ form_errors(point_form.idpt) }}
							
							<input type='button' id="get_idcollection" value="Get next ID"></input>
						</td>

						<th width = "15%"  style="text-align:right">
							Field number:
						</th>
						<td  width = "65%" colspan = "3">
							{{ read_test.widget_read_mode(read_mode,point_form.fieldnum, {'attr': {'class': 'form-control inp_Fieldnum'}},dloccenter.fieldnum ??"") }}
						</td>
					</tr>
					<tr>
						<TH  style="text-align:right">
							Place:
						</TH>
						<td >
							{{ read_test.widget_read_mode(read_mode,point_form.place, {'attr': {'class': 'form-control inp_Place'}},dloccenter.place ??"") }}
						</td>
						<TH  style="text-align:right">
							Country:
						</TH>
						<td >
							{{ read_test.widget_read_mode(read_mode,point_form.country, {'attr': {'class': 'form-control inp_Country'}},dloccenter.country ??"") }}
						</td>
						<TH  style="text-align:right">
							Doc reference:
						</TH>
						<td>
							{{ read_test.widget_read_mode(read_mode,point_form.docref, {'attr': {'class': 'form-control inp_Docref'}},dloccenter.docref ??"") }}
						</td>
					</tr>
					<tr>
						<TH  style="text-align:right">
							Date:
						</TD>
						<td >
							{% if dloccenter.date is defined %}
								{% set date_display=dloccenter.date|date('d-m-Y') %}
							{% else %}
								{% set date_display="" %}
							{% endif %}
							{{ read_test.widget_read_mode(read_mode,point_form.date, {'attr': {'class': 'form-control inp_Date js-datepicker'}},date_display) }}
						</td>
					</tr>
					<tr>
						<TH  style="text-align:right">
							Geographical description:
						</TD>
						<td >
							{{ read_test.widget_read_mode(read_mode,point_form.geodescription, {'attr': {'class': 'form-control inp_Geodescription'}},dloccenter.geodescription??"") }}
						</td>
						<TH  style="text-align:right">
							Description of the position:
						</TD>
						<td >
							{{ read_test.widget_read_mode(read_mode,point_form.positiondescription, {'attr': {'class': 'form-control inp_Positiondescription'}},dloccenter.positiondescription??"") }}
						</td>
					</tr>
					<tr>
						<TH  style="text-align:right">
							Various info:
						</TD>
						<td >
							{{ read_test.widget_read_mode(read_mode,point_form.variousinfo, {'attr': {'class': 'form-control inp_Variousinfo'}},dloccenter.variousinfo ??"") }}
						</td>
					</tr>
					<tr>
						<TH  style="text-align:right">
							Precision:
						</TD>
						<TD>
							{{ read_test.widget_read_mode(read_mode,point_form.idprecision, {'attr': {'class': 'form-control inp_Idprecision'}},dloccenter.idprecision.precision ??"") }}
						</TD>
					</tr>
					<tr>
						<TD> .</TD>
					</TR>
				</Table>
			</TD>
		</TR>
		<tr >
			<TD>
				
				<div class="widget">
					{% if  originaction  == 'edit' or originaction == 'add_aftercommit' %}
										
					{% endif %}
					{% include "@App/dloccenter/map.html.twig" %}

					<ul class="widget-tabs">
						{% if  originaction  == 'edit' or originaction == 'add_aftercommit' %}
							
						{% endif %}
						<li class="widget-tab">
						  <a href="#Geographical_info" class="widget-tab-link" id=tab1a>Geographical info</a>
					</ul>
				</div>
			</TD>
		</TR>
			
		<TR>
			<TD>
			
			</TD>
		</TR>
	</Table>
	{{ read_test.end_activate_boostrap_tab() }}
	{{ read_test.activate_boostrap_tab("stratum", current_tab, "stratum-tab") }}
	 {% include "@App/dloccenter/point_to_stratum.html.twig"  %}
	{{ read_test.end_activate_boostrap_tab() }}
	{% if read_mode!="create" %}
	 {{ read_test.activate_boostrap_tab("log", current_tab, "log-tab") }}
		{% include "@App/forms/logs.html.twig" with {'logs' : logs} %}
	{{ read_test.end_activate_boostrap_tab() }}
	{% endif %}
  </div>
  {{ form_row(form._token) }}
  {{ read_test.submit_button_log(read_mode) }}
  {{ read_test.submit_read_mode(read_mode, "btn btn-default pull-right submitbutton" ) }}
				<div class="alert_message"></div>
	<div><input type="hidden" name="current_tab" id="current_tab"/></div>
{{ read_test.form_end_read_mode(point_form) }}

<script type="text/javascript">

$(document).ready(
	function()
	{
		current_tab="{{ current_tab }}";
		//alert(current_tab);
		init_tab_url(".mode_shift", current_tab);
	}
);

$("#get_idcollection").click(
			function()
			{
				if($(".inp_Idcollection").val().length>0)
				{
				 console.log($(".inp_Idcollection").val());
				 jQuery.getJSON("{{ path('app_get_next_id')}}",
					{'collection':$(".inp_Idcollection").val(),
					'table':'dloccenter'},
					function(result)
					{
						$('.inp_PointID').val(result.id);						
					}
				 );
				}
			}
		);
		
</script>



