{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
   <!-- {  form_widget(form) }} -->
	<Table  class="table_edit" >
		<tr>
			<th class="title_table_edit"  colspan=5>
				Change password
			</th>
		</tr>
		<TR>
			<TH>
				{{ form_label (form.current_password) }}   
			</TH>
			<TH colspan=4>
				{{ form_widget (form.current_password) }}
			</TH>
		</TR>
		<TR>
			<TH>
				{{ form_label (form.plainPassword.first) }}   
			</TH>
			<TH>
				{{ form_widget (form.plainPassword.first) }}  
			</TH>
			<TH>
				{{ form_label (form.plainPassword.second) }}   
			</TH>
			<TH colspan=2>
				{{ form_widget (form.plainPassword.second) }}
			</TH>
		</TR>
	</Table>
	<BR/>
   <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    
{{ form_end(form) }}