{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

	<Table>
		<TR>
			<TH width="50%">
			</TH>
			<TH width="10%">
				 <label for="username">{{ 'security.login.username'|trans }}</label>
			</TH>
			<TH>
				<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
			</TH>
			<TH width="30%">
			</TH>
		</TR>
		<TR>
			<TH width="50%">
			</TH>
			<TH>
				<label for="password">{{ 'security.login.password'|trans }}</label>
			</TH>
			<TH>
				<input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
			</TH>
			<TH width="30%">
			</TH>
		</TR>
		<TR>
			<TH width="50%">
			</TH>
			<TH>
				<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>  
			</TH>
			<TH>
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			</TH>
			<TH width="30%">
			</TH>
		</TR>
		<TR>
			<TH width="50%">
			</TH>
			<TH>
				<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
			</TH>
			<TH colspan= 2 width="60%">
			</TH>
		</TR>
	</Table>
    
</form>







