{# src/AppBundle/Resources/views/foreignkeys/template_subforms_no_ajax.html.twig #}
{% set read_mode = read_mode|default("write") %}
<!--pb to fx, this libraries should already be loaded-->
<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/core.js') }}"></script>
<script src="{{ asset('js/select2/js/select2.full.min.js') }}"></script>

{% set nested_template = nested_template %}

{% set fk_len = fk_values | length %}
{% set fk_value_field = fk_value_field|default("") %}

{% set fk_key_field = fk_key_field|default("") %}
{% set container_pk = container_pk|default("") %}
{% set delete_route = delete_route|default(null) %}
<div class="{{ ctrl_prefix }}_placeholder" >
	
</div>
{{ ctrl_prefix }}
<div class="container">

<ul id="{{ ctrl_prefix }}_list">

{% if fk_len >0 %}
{% set i_doc=1 %}
			{% for val in fk_values %}
				<li>
					
					<div class="row" class="widget_subform_{{ ctrl_prefix  ~ '_' ~ i_doc }}">				
					{% include nested_template with 
					{'index' : i_doc, 'default_val': val} %}
					{% if read_mode=="write" %}
						{% if delete_route !="" and fk_key_field !="" and container_pk !="" %}
							{% set key_calc= attribute(val, fk_key_field) %}
							<a href="{{ path(delete_route, {"pk": key_calc , "container_pk": container_pk}) }}"><img class="{{ ctrl_prefix }}_delete_fk"  src="{{ asset('pics/delete.jpg') }}" /></a>
						{% endif %}
					{% endif %}
					</div>
					
				</li>
				
			  {% set i_doc=i_doc+1 %}
			{% endfor %}
{% endif %}

</ul>
</div>


{% if read_mode=="write" %}
<button type="button" class="btn btn-secondary" id="b_{{ ctrl_prefix }}_add">Add</button>
<button type="button" class="btn btn-secondary" id="b_{{ ctrl_prefix }}_remove">Remove</button>
{% endif %}

<script type="text/javascript">
{% if i_doc is defined %}
	var nb_ctrls_{{ ctrl_prefix }}={{i_doc -1 }};		
{% else %}	
	{% if fk_len >0 %}
		var nb_ctrls_{{ ctrl_prefix }}={{ fk_len + 1 }};
	{% else %}
		var nb_ctrls_{{ ctrl_prefix }}=0;
	{% endif %}
{% endif %}


$(document).ready(
	function()
	{
		$("#b_{{ ctrl_prefix }}_add").click(
            function()
            {
				nb_ctrls_{{ ctrl_prefix }}=handle_ajax_template(nb_ctrls_{{ ctrl_prefix }}, "{{ ctrl_prefix  }}", "{{ ajax_route }}" );			
            }
        );
		
		$("#b_{{ ctrl_prefix }}_remove").click(
            function()
            {
			   nb_ctrls_{{ ctrl_prefix }}=handle_remove_ajax_template(nb_ctrls_{{ ctrl_prefix }}, "{{ ctrl_prefix }}");
			  
            }
        );
	});
</script>

