{# src/AppBundle/Resources/views/foreignkeys/template_modal_search.html.twig #}
{% set ctrl_suffix = ctrl_suffix|default("") %}
{% set prefix_ctrl = prefix_ctrl|default("") %}
{% block body %}

<style>
.select2-container--open {
    z-index: 1000000020
}
</style>

{% if read_mode=="write" or read_mode=="create" %}
<div class="row">
<div class="col-sm-2">
<input type="button" id="add_modal{{ ctrl_suffix }}{{ index }}" name="add_modal{{ ctrl_suffix }}" value="Search" data-bs-toggle="modal" data-bs-target="#modaladd{{ ctrl_suffix }}"></input>
	{% if index== 1 %}
	<div class="modal fade modal_keyword " id="modaladd{{ ctrl_suffix }}" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" style="z-index:1000000000">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content" id="modal_add_content">
				<div class="modal-header">
					ADD VALUE               
				</div>
				<div class="modal-body">
					<div class="container">
						{% include nested_template with { "prefix_ctrl":prefix_ctrl } %}
						
					</div>
				</div>
				<div>
					<div class="modal-footer">                
					  <button type="button" class="btn btn-secondary remove_add remove_modal" id="remove_modal" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>    
		</div>
	</div>
	{% endif %}
</div>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
	<script language='javascript'>
		$(document).ready(
			function()
			{
			
				
				$("#add_modal{{ ctrl_suffix }}{{ index }}").click(
					function()
					{
						console.log("ADDMODAL!!!!");
						global_modal_index_value="{{ id_target }}";
						global_modal_index_text="{{ value_target }}";
					}
				);
				//console.log("modal_ready");
				{% if index== 1 %}
				onElementInserted('body', '.modal_link', function(element) {        
					$(element).click(
						function(e)
						{
							console.log("click");
							console.log(e.target.id);
							console.log("closing {{ id_target }}")
							console.log("modal_link clicked");
							console.log("TARGET");
							console.log(global_modal_index_value);
							e.preventDefault();
							var key=  $(element).attr('data-modal-key');
							//console.log(key);
							var val=  $(element).attr('data-modal-value');
							//console.log(val);
							
							$(global_modal_index_value).val(key);
							$(global_modal_index_text).val(val);
							//to simulate change event
							// and update information such as link
							$(global_modal_index_value).click();
							$('.remove_modal').click();
							console.log("CLOSED");						
							return false;
						}	
					)});
					{% endif %}
				
			}
		);
	
	</script>
{% endblock %}