{# src/AppBundle/Resources/views/foreignkeys/template_modal_search.html.twig #}

{% block body %}
<style>
.select2-container--open {
    z-index: 1000000020
}
</style>
{{ index }}
<div class="col-sm-2"><input type="button" id="add_modal{{ index }}" name="add_modal" value="Search" data-bs-toggle="modal" data-bs-target="#modaladd"></input>
{% if index== 1 %}
<div class="modal fade modal_keyword " id="modaladd" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" style="z-index:1000000000">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" id="modal_add_content">
            <div class="modal-header">
                ADD KEYWORD               
            </div>
            <div class="modal-body">
                <div class="container">
                    {% include nested_template %}
                    
                </div>
            </div>
            <div class="modal-footer">                
                  <button type="button" class="btn btn-secondary remove_add" id="remove_modal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>    
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
	<script language='javascript'>
		$(document).ready(
			function()
			{
			
				//$( "#modaladd" ).on('shown.bs.modal', function(){
				
					//global_modal_index_value="{{ id_target }}";
					//global_modal_index_text="{{ value_target }}";
					//console.log("show for:");
					//console.log(global_modal_index_value);
				//});
				$("#add_modal{{ index }}").click(
					function()
					{
						global_modal_index_value="{{ id_target }}";
						global_modal_index_text="{{ value_target }}";
					}
				);
				console.log("modal_ready");
				onElementInserted('body', '.modal_link', function(element) {        
					$(element).click(
						function(e)
						{
							console.log("closing {{ id_target }}")
							console.log("modal_link clicked");
							e.preventDefault();
							var key=  $(element).attr('data-modal-key');
							console.log(key);
							var val=  $(element).attr('data-modal-value');
							console.log(val);
							
							$(global_modal_index_value).val(key);
							$(global_modal_index_text).val(val);
							$('#remove_modal').click();							
							return false;
						}	
					)});
				
			}
		);
	
	</script>
{% endblock %}